@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200&family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    --main-f-1: 'Roboto', sans-serif;
}

:root {
    /* Fonts  */
    --main-f-1: 'Roboto', sans-serif;
    --main-f-2: 'Poppins', sans-serif;

    /* Text Colors  */
    --main-col-1 : salmon;

    /* Backgrounds  */
    --main-bg-primary: rgb(249 249 249);
}

/* Used to highlight specfic text  */
.text-highlight {
    font-family: var(--main-f-2);
    color: var(--main-col-1);
    font-weight: bold;
}


/* Backgrounds Classes */
.bg-primary {
    background-color: var(--main-bg-primary) !important;
}
